/* Body settings */

.main-container {
  max-width: 75% !important;
  margin: auto;
}

.float {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* Navbar settings */

.navbar {
  font-size: 20px; /* Adjust this value to your preferred font size */
  padding-top: 15px; /* Adjust this value to your preferred padding */
  padding-bottom: 15px;
}

.dropdown-content {
  font-size: 18px;
}

/* 3d image alignment */

.rglWebGL {
    display: block;
    margin: auto;
    width: 50% !important;
    height: auto;
    min-height: 480px;
    min-width: 480px;
}
